body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 50px;
}
.registration-form{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
}
.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
.registration-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"],
.registration-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.registration-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}   
.registration-form input[type="submit"]:hover {
    background-color: #218838;
}
.existingAccount{
    text-align: end;
    margin-top: 15px;
    color: #007bff;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit; 
}