*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: #fff;
    padding: 40px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.login-container label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #218838;
}
.login-container .error {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}
.login-container .success {
    color: green;
    margin-bottom: 15px;
    text-align: center;
}
.login-container .register {
   text-align: end;
    margin-top: 15px;
    color: #007bff;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit; 
}